body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}

.intro, .register {
    background-color: #fff;
    padding: 2em;
    margin: 2em auto;
    /* max-width: 600px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

form {
    margin-top: 1em;
}

form label {
    display: block;
    margin-top: 1em;
}

form input, form select, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    background-color: #28a745;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    margin-top: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin-top: 2em;
}

.text {
    margin-bottom: 5xp;
    font-weight: 300;
}
